@import '../../shared/styles/list-page.shared.scss';

.bordro-no {
  color: var(--color-primary);
  font-weight: 500;
}

.portfolio-link {
  &,
  &:visited {
    color: var(--color-primary);
  }

  text-decoration: none;
  font-weight: 500;

  &:hover {
    color: var(--color-primary-hover);
  }
}

.th-amount {
  text-align: right;
}

.amount {
  font-variant-numeric: tabular-nums;
  text-align: right;
}
